{% extends 'readviews/layout.html' %}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

{% if indice_pelicula %}

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BUSCA UNA PELICULA</h1>
      </div>
      </div>
      <dov class="row">
      <div class="col">
        <form action="/readviews/buscar_pelicula" method="GET">
          {% csrf_token %} 
          {% bootstrap_form form_busqueda %}
          {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% if indice_serie %}

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BUSCA UNA SERIE </h1>
      </div>
      </div>
      <dov class="row">
      <div class="col">
        <form action="/readviews/buscar_serie" method="GET">
          {% csrf_token %} 
          {% bootstrap_form form_busqueda %}
          {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
        </form>
      </div>
    </div>
  </div>
{% endif %}


{% if indice_libro %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>BUSCA UN LIBRO</h1>
      </div>
      </div>
      <dov class="row">
      <div class="col">
        <form action="/readviews/buscar_libro" method="GET">
          {% csrf_token %} 
          {% bootstrap_form form_busqueda %}
          {% bootstrap_button "Buscar" button_type="submit" button_class="btn-primary" %}
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
